@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap");
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #191919;
  border: 1px solid #191919;
  position: absolute;
  top: 5px;
  right: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.circle-active {
  opacity: 1;
  top: -5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -13px;
}

.footer-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  position: absolute;
  top: 5px;
  right: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.footer-circle-active {
  opacity: 1;
  top: -5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -13px;
}

.pagination-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0066FF;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

.main-nav {
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav li:not(:last-child) {
  padding-right: 28px;
}

.main-nav li a {
  position: relative;
  color: #191919;
}

.main-nav li a:hover .circle {
  opacity: 1;
  -webkit-transition: opacity 0.5s, top 0.4, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: -5px;
  right: -13px;
}

li, a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #191919;
  text-decoration: none;
}

li:hover, a:hover {
  text-decoration: none !important;
}

.logo {
  height: 50px;
  width: auto;
}

.mobile-nav {
  float: right;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  font-size: 1.8rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: white;
}

.article-background-1 {
  height: 265px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1581552085566-5668a71eda28?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600");
}

.article-background-2 {
  height: 265px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1580442616803-cd35713a699e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600");
}

.article-background-3 {
  height: 265px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1580993306001-65a9eaedb1d8?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600");
}

.article-background-4 {
  height: 265px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1581702328162-7233a6b76319?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600");
}

.article-background-5 {
  height: 265px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1581711496815-8a876c1c63f6?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600");
}

.article-background-6 {
  height: 265px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1581375221876-8f287f7cd2cc?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixlib=rb-1.2.1&q=80&w=1600");
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.h2-margin {
  margin-top: 120px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.articles {
  width: 1300px;
  max-width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.5em;
  grid-row-gap: 6em;
  grid-auto-rows: minmax(100px, auto);
}

.box {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.contents {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.card-read-more {
  color: #0066FF;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.card-cat-date-size {
  font-size: 15px;
}

.more-articles-sec-2 {
  margin-top: 100px;
}

.card-read-more:hover {
  color: #191919;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

h1 {
  font-size: 1.8rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.latest {
  width: 1300px;
  max-width: 90%;
  margin: 80px auto;
  -webkit-box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.09);
}

.background {
  height: 423px;
  background-image: url("https://images.hdqwalls.com/download/breaking-bad-fan-art-1280x960.jpg");
  background-size: cover;
  background-position: center;
}

.primaryColor {
  color: #191919;
}

.latest-article {
  background-color: #0066FF;
  height: 29px;
  width: 135px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

.font-weight-medium {
  font-weight: 500;
}

.read-more-hover {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.read-more-hover:hover {
  color: #0066FF;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.description {
  line-height: 1.7em;
}

.content-box {
  margin-right: 45px;
  margin-left: 15px;
  margin-top: 7px;
}

.pagination-subscribe {
  margin-top: 80px;
}

.pagination {
  /*background-color: #F2F2F2;*/
  color: #B9B9B9;
  height: 57px;
  width: 120px;
  border-radius: 33px;
  font-weight: 400;
  font-size: 1.1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inside-pagination {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe {
  font-weight: 400;
}

.enter-email {
  background-color: #F2F2F2;
  color: #B9B9B9;
  height: 57px;
  border-radius: 33px;
  font-weight: 400;
  font-size: 1.1em;
}

.inside-enter-email {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.subscriber-container {
  width: 754px;
  max-width: 90%;
}

input:focus {
  outline: none;
}

input[type=email] {
  background-color: #F2F2F2;
  border: none;
  border-radius: 33px;
  height: 57px;
  width: 100%;
  max-width: 558px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  background-color: #0066FF;
  border: none;
  border-radius: 33px;
  color: white;
  height: 57px;
  width: 100%;
}

input[type=email]::-webkit-input-placeholder {
  color: #B9B9B9;
  font-size: 0.9em;
}

input[type=email]:-ms-input-placeholder {
  color: #B9B9B9;
  font-size: 0.9em;
}

input[type=email]::-ms-input-placeholder {
  color: #B9B9B9;
  font-size: 0.9em;
}

input[type=email]::placeholder {
  color: #B9B9B9;
  font-size: 0.9em;
}

.subscription-box-before-margin {
  margin-top: 40px;
}

.subscription-before-margin {
  margin-top: 40px;
}

.footer {
  background-color: #3E3E3E;
  color: #F2F2F2;
  min-height: 253px;
  margin-top: 80px;
  width: 100%;
}

.footer .footer-container {
  height: 100%;
  width: 68%;
  margin: auto;
}

.links {
  text-align: right;
}

.footer-logo {
  height: 3rem;
  width: auto;
}

.social-icons a {
  color: white;
  font-size: 1.2rem;
}

.social-icons a:not(:last-of-type) {
  margin-right: 12px;
}

.social-icons a:hover,
.social-icons a:active {
  color: #838383;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #191919;
  border: 1px solid #191919;
  position: absolute;
  top: 5px;
  right: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.circle-active {
  opacity: 1;
  top: -5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -13px;
}

.footer-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  position: absolute;
  top: 5px;
  right: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.footer-circle-active {
  opacity: 1;
  top: -5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -13px;
}

.pagination-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0066FF;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

.footer-nav {
  list-style: none;
}

.footer-nav li {
  padding-top: 10px;
}

.footer-nav li a {
  position: relative;
  color: #F2F2F2;
  font-size: 16px;
}

.footer-nav li a:hover .footer-circle {
  opacity: 1;
  -webkit-transition: opacity 0.5s, top 0.4, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: -5px;
  right: -13px;
}

.container-c {
  width: 43%;
  margin: auto;
  overflow: hidden;
}

.article-body {
  padding-top: -20px;
  text-align: justify;
}

.mid-bar {
  border-left: 1px solid black;
  height: 74%;
  float: left;
  margin-top: 15px;
  padding-right: 30px;
}

.post-date {
  font-size: 20px;
  font-weight: 500;
}

.post-title {
  font-size: 2rem;
  padding-left: 0;
}

.post-image {
  height: 300px;
  float: left;
  margin-right: 25px;
  padding-top: 13px;
}

.post-first-letter {
  float: left;
  width: 0.7em;
  font-size: 300%;
  line-height: 80%;
  margin-top: 12px;
  margin-right: 15px;
}

.category-article {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 20px;
  font-weight: 300;
}

.discuss {
  width: 80%;
  margin-left: 80px;
  margin-top: 100px;
}

.mobile-nav {
  float: right;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  font-size: 1.8rem;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 500;
  background-color: white;
}

#menuClose {
  position: absolute;
  right: 20px;
  top: 7px;
}

.hidden-list {
  list-style: none;
  position: absolute;
  top: 40%;
  text-align: center;
}

.hidden-list a:hover {
  border-bottom: 1px solid #0066FF;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.hidden-list li a:link {
  border-bottom: 1px solid #191919;
  font-size: 1.3rem;
}

.hidden-list li {
  padding: 5px;
}

@media only screen and (max-width: 576px) {
  .container-c {
    width: 90%;
    margin: auto;
  }
  .post-image {
    max-width: 100%;
    height: auto;
    margin-right: 25px;
    padding-top: 13px;
    margin-bottom: 10px;
  }
  .post-first-letter {
    display: inline-block;
    width: 1rem;
    font-size: 280%;
    line-height: 80%;
    margin-left: -4px;
    margin-top: 7px;
    margin-right: 1.5rem;
  }
  .post-date {
    font-size: 18px;
    font-weight: 500;
  }
  .mid-bar {
    border-left: none;
    border-top: 1px solid black;
    margin-top: 15px;
    margin-left: 16px;
  }
  .category-article {
    font-size: 18px;
  }
  .post-title {
    font-size: 1.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-name {
    margin-left: 16px;
    margin-top: 10px;
  }
  .article-body {
    font-size: 1rem;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: -20px;
    text-align: justify;
  }
  .discuss {
    min-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .main-nav {
    display: none;
  }
  .check-nav {
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container-c {
    width: 70%;
    margin: auto;
  }
  .post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .article-name {
    font-size: 1.5rem;
    padding-left: 15px;
  }
  .article-body {
    font-size: 1.1rem;
  }
  .mid-bar {
    border-top: 1px solid #191919;
    border-left: none;
    width: 100%;
    height: 15px;
  }
}

@media (width: 768px) {
  .links {
    text-align: right;
  }
  .mid-bar {
    border-top: 0;
    border-left: 1px solid #191919;
    height: 74%;
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 12px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container-c {
    width: 70%;
  }
  .article-name {
    padding-left: 30px;
  }
  .post-date {
    padding-top: 20px;
  }
  .post-image {
    max-width: 50%;
    height: auto;
  }
  .mid-bar {
    height: 82%;
  }
  header {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container-c {
    width: 70%;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .container-c {
    width: 60%;
  }
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #191919;
  border: 1px solid #191919;
  position: absolute;
  top: 5px;
  right: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.circle-active {
  opacity: 1;
  top: -5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -13px;
}

.footer-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  position: absolute;
  top: 5px;
  right: -5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.footer-circle-active {
  opacity: 1;
  top: -5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: -13px;
}

.pagination-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0066FF;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

.main-nav {
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav li:not(:last-child) {
  padding-right: 28px;
}

.main-nav li a {
  position: relative;
  color: #191919;
}

.main-nav li a:hover .circle {
  opacity: 1;
  -webkit-transition: opacity 0.5s, top 0.4, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4, right 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s;
  transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: -5px;
  right: -13px;
}

li, a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #191919;
  text-decoration: none;
}

li:hover, a:hover {
  text-decoration: none !important;
}

.logo {
  height: 50px;
  width: auto;
}

.mobile-nav {
  float: right;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  font-size: 1.8rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: white;
}

.container-categories {
  width: 800px;
  margin: auto;
}

.point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-color: #191919;
  border: 1px solid #191919;
  opacity: 1;
  margin-top: 10px;
}

.technology-class,
.tv-class,
.human-class {
  -webkit-box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.09);
  padding: 40px 30px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: auto;
  margin-top: 3REM;
  font-size: 1.4rem;
  font-weight: 500;
}

.categories-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 4rem;
}

.bullet-point {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 10px;
}

.article-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 20px;
}

.check-nav {
  float: right;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  font-size: 1.8rem;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 500;
  background-color: white;
}

#menuClose {
  position: absolute;
  right: 20px;
  top: 7px;
}

.hidden-list {
  list-style: none;
  position: absolute;
  top: 40%;
}

.hidden-list a:hover {
  border-bottom: 1px solid #0066FF;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.hidden-list li a:link {
  border-bottom: 1px solid #191919;
  font-size: 1.3rem;
}

.hidden-list li {
  padding: 5px;
}

.read-more-hover {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.read-more-hover:hover {
  color: #0066FF;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@media only screen and (max-width: 576px) {
  footer {
    padding-bottom: 60px;
  }
  .links {
    text-align: left;
  }
  .categories-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 3rem;
  }
  .bullet-point {
    margin-left: 0;
  }
  .article-title {
    font-size: 1rem;
  }
  .technology-class,
  .tv-class,
  .human-class {
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }
  .check-nav {
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  footer {
    padding-bottom: 60px;
  }
  .links {
    text-align: left;
  }
  .main-nav li {
    list-style-type: disc;
    display: block;
    text-align: right;
  }
  .main-nav li:not(:last-child) {
    padding-bottom: 10px;
    padding-right: 0;
  }
}

@media (width: 768px) {
  .links {
    text-align: right;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 17px;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

header {
  width: 76%;
  margin: auto;
}

#menuClose {
  position: absolute;
  right: 25px;
  top: 7px;
}

.hidden-list {
  list-style: none;
  position: absolute;
  top: 40%;
}

.hidden-list a:hover {
  border-bottom: 1px solid #0066FF;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.hidden-list li a:link {
  border-bottom: 1px solid #191919;
  font-size: 1.3rem;
}

.hidden-list li {
  padding: 5px;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 576px) {
  header {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    width: 90% !important;
  }
}
/*# sourceMappingURL=style.css.map */