@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap");

@mixin circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #191919;
    position: absolute;
    top: 5px;
    right: -5px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, top 0.4s, right 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.5s, top 0.4s, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);}

$boxshadow: 9px 9px 10px rgba(163,177,198,0.3), -9px -7px 7px rgba(255, 255, 255, 0.70);

$btn-boxshadow: 5px 5px 10px rgba(0, 102, 255, 0.6), -9px -7px 7px rgba(255, 255, 255, 0.7),
                inset 5px 5px 10px rgba(0, 102, 255, 0), inset -5px -5px 10px rgba(255, 255, 255, 0);

$btn-boxshadow-hover: 5px 5px 10px rgba(0, 102, 255, 0), -5px -5px 10px rgba(255, 255, 255, 0),
                      inset 5px 5px 10px rgba(25, 25, 25, 0.3), inset -5px -7px 11px rgba(255, 255, 255, 0.31);

@mixin footer-circle-active{
    opacity: 1;
    top: -5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    right: -13px;}

.circle { @include circle;}

.circle-active { @include footer-circle-active;}

.footer-circle { @include circle; border: 1px solid #F2F2F2;}

.footer-circle-active { @include footer-circle-active; border: 1px solid #F2F2F2; }

.main-nav { list-style: none; }

.main-nav li { display: inline-block; }

.main-nav li:not(:last-child) { padding-right: 28px; }

.main-nav li a { position: relative; color: #191919; }

.main-nav li a:hover .circle {
    opacity: 1;
    -webkit-transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: -5px;
    right: -13px; }

li, a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #191919;
    text-decoration: none; }

li:hover, a:hover { text-decoration: none !important; }

.logo { height: 50px; width: auto; }

.mobile-nav { float: right;  cursor: pointer;  display: none; }

.mobile-nav-icon { font-size: 1.8rem; }

.footer {
    background-color: #3E3E3E;
    color: #F2F2F2;
    min-height: 253px;
    //margin-top: 80px;
    width: 100%; }

.footer .footer-container { height: 100%; width: 68%; margin: auto; }

.links { text-align: right;}

.footer-logo { height: 3rem; width: auto; }

.social-icons a { color: white; font-size: 1.2rem;}

.social-icons a:not(:last-of-type) { margin-right: 12px;}

.social-icons a:hover,
.social-icons a:active {
    color: #838383;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }

.article-background-1 {
    height: auto;
    width: 355px;
    background-size: cover;
    background-position: center;
    //background-image: url("https://source.unsplash.com/1600x900");
    border-radius: 10px;
    }

h2 { font-size: 2rem; text-align: center;}

.h2-margin { margin-top: 120px; }

h3 { font-size: 1.5rem; font-weight: 400;}

.articles {
    width: 1300px;
    max-width: 90%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.5em;
    grid-row-gap: 6em;
    grid-auto-rows: minmax(100px, auto); }

.box {
    -webkit-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
    border-radius: 10px;
    overflow: hidden; }

.contents { padding-left: 30px; padding-right: 30px; padding-bottom: 20px; }

.card-read-more { color: #0066FF; -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }

.card-cat-date-size { font-size: 15px; }

.more-articles-sec-1 { min-height: 15.3vh; }

.card-read-more:hover { color: #191919; -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }

h1 { font-size: 1.8rem; padding-top: 10px; padding-bottom: 10px; }

.latest {
    width: 1300px;
    max-width: 90%;
    margin: 80px auto;
    -webkit-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
    border-radius: 10px; }

.background {
    height: auto;
    width: 600px;
    //background-image: url("https://images.hdqwalls.com/download/breaking-bad-fan-art-1280x960.jpg");
    border-radius: 10px;
    background-size: cover;
    background-position: center; }

.latest-article {
    background-color: #0066FF;
    height: 29px;
    width: 135px;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    font-weight: 500; }

.font-weight-medium { font-weight: 500; }

.read-more-hover { -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }

.read-more-hover:hover { color: #0066FF; -webkit-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }

.description { line-height: 1.6rem; }

.content-box { margin-right: 45px; margin-left: 15px; margin-top: 7px;}

.pagination-subscribe { margin-top: 80px;}

.pagination {
    color: #0066FF;
    height: 57px;
    width: 315px;
    border-radius: 43px;
    font-weight: 400;
    font-size: 1.1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: $boxshadow; }

.inside-pagination {
    width: 70%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.subscribe { font-weight: 400; }

.enter-email {
    background-color: #F2F2F2;
    color: #B9B9B9;
    height: 57px;
    border-radius: 33px;
    font-weight: 400;
    font-size: 1.1em; }

.inside-enter-email {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }

.subscriber-container { width: 754px; max-width: 90%; }

@mixin btn-mix-email-input{
    border: none;
    border-radius: 33px;
    height: 57px;
    transition: box-shadow 0.2s ease-in-out; }

@mixin basic-btn{
    @include btn-mix-email-input;
    background-color: #0066FF;
    color: white;
    font-weight: 300; font-size: 17px;
    box-shadow: $btn-boxshadow; }

.btn-custom {
    @include basic-btn;
    width: 149px; }

.btn-custom {
    &:hover{
        box-shadow: $btn-boxshadow-hover;
        transition: box-shadow 0.2s ease-in-out;  } }

input[type=email] {
    @include btn-mix-email-input;
    background-color: #F2F2F2;
    width: 100%;
    max-width: 558px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: $boxshadow; }

input[type=email]:focus {
    box-shadow: 5px 5px 10px rgba(0, 102, 255, 0), -5px -5px 10px rgba(255, 255, 255, 0),
    inset 9px 7px 10px rgba(163, 177, 198, 0.29), inset -9px -7px 7px rgba(255, 255, 255, 0.71);
    transition: box-shadow 0.2s ease-in-out; }

.form-div label {
    position: absolute;
    top: 18px;
    left: 12%;
    font-size: 0.9rem;
}

.form-div label::before {
    transition: 0.5s;
    /* Just to show how the toggle works */
}

.form-div label.email::before {
    content: 'Please, enter your email . . .';
}

.form-div input[type=email]:focus + label::before,
.form-div input[type=email]:active + label::before {
    opacity: 0;            /* To visually hide the label's pseudoelement */
    pointer-events: none;  /* To prevent any cursor-based interaction */
}

input[type=submit] {
    @include basic-btn;
    width: 100%;
    &:hover{
        box-shadow: $btn-boxshadow-hover;
        transition: box-shadow 0.2s ease-in-out;
    }}

@mixin email-placeholder{ color: #B9B9B9; font-size: 0.9em; }

input[type=email]::-webkit-input-placeholder {@include email-placeholder;}

input[type=email]:-ms-input-placeholder {@include email-placeholder;}

input[type=email]::-ms-input-placeholder {@include email-placeholder;}

input[type=email]::placeholder {@include email-placeholder;}

input:focus { outline: none;}

input[type=password]::placeholder{@include email-placeholder; }

.form-div {display:flex; flex-direction: column; align-items: center; width: 100%}

.subscription-box-before-margin { margin-top: 40px; margin-bottom: 4.6rem!important;}

.subscription-before-margin { margin-top: 40px; }

.pagination-circle {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #0066FF;
    color: white;
    font-weight: 500;
    font-size: 1.1em;  }

.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: #ebecf0; }

.footer-nav { list-style: none;}

.footer-nav li { padding-top: 10px;}

.footer-nav li a { position: relative; color: #F2F2F2; font-size: 16px;}

.footer-nav li a:hover .footer-circle {
    opacity: 1;
    -webkit-transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.5s, top 0.4, transform 0.4s, right 0.4s, -webkit-transform 0.4s;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: -5px;
    right: -13px;}

.container-c { width: 680px; margin: auto; overflow: hidden;}

.article-body { padding-top: -20px;}

.mid-bar {
    border-left: 1px solid black;
    height: 80%;
    float: left;
    margin-top: 16px;
    margin-left: 30px;
    padding-right: 30px;}

//.post-date { font-size: 20px; font-weight: 500;}

.post-title { font-size: 1.7rem; padding-left: 0;}

.post-image {
    height: 270px;
    float: left;
    margin-right: 25px;
    padding-top: 13px;
}

.post-first-letter {
    float: left;
    width: 0.7em;
    font-size: 300%;
    line-height: 80%;
    margin-top: 12px;
    margin-right: 15px;
}

.category-article {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-size: 20px;
    font-weight: 300;
}

.discuss { width: 95%; margin: 40px auto; height: 95%; padding: 20px; border-radius: 10px;
    box-shadow: 9px 9px 10px rgba(163,177,198,0.3), -9px -7px 7px rgba(255, 255, 255, 0.70);
}

#menuClose { position: absolute; right: 20px; top: 7px; }

.hidden-list {
    list-style: none;
    position: absolute;
    top: 40%;
    text-align: center; }

.hidden-list a:hover {
    border-bottom: 1px solid #0066FF;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;}

.hidden-list li a:link { border-bottom: 1px solid #191919; font-size: 1.3rem;}

.hidden-list li { padding: 5px;}

.container-categories { width: 800px; margin: auto; min-height: 46.4vh;}

.point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #191919;
    opacity: 1;
    margin-top: 10px;}

.technology-class {
    -webkit-box-shadow: $boxshadow;
    padding: 40px 30px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 3REM auto auto;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: $boxshadow;
    border-radius: 10px;}

.categories-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 4rem;}

.bullet-point {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 10px;}

.article-title {
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 20px;}

.check-nav {
    float: right;
    cursor: pointer;
    display: none;}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}

:root { font-size: 17px; }

html{ min-height: 100%; }

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    background-color: #ebecf0;}

header {
    width: 76%;
    margin: auto;}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;}

.noHoverColorChange {
    &:hover {
        text-decoration: none !important;
        color: #191919 !important;
    }}

.noHoverColorChangeWhite {
    &:hover {
        text-decoration: none !important;
        color: #ffffff !important;
    }}

.login{
    width: 346px;
    height: 515px;
    border-radius: 21px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.congrats-message {
    padding: 40px 30px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin-top: 60px;
    height: fit-content;
    box-shadow: $boxshadow;
    width: 800px;
    border-radius: 10px;}

.latest-cat-date { display: flex; }

.margin-left { margin-left: 1.5rem }

@media only screen and (max-width: 576px) {
    .background { width: 100%; height: auto; }

    .latest-cat-date { flex-direction: column; }

    .margin-left { margin-left: 0 }

    .content-box { margin: 0 30px 50px 25px; }

    .input-div { width: 200px; margin: 30px auto; }

    .latest { max-width: 90%; margin: 40px auto; }

    .articles { -ms-grid-columns: 1fr; grid-template-columns: 1fr; grid-row-gap: 4em;  }

    .subscribe { font-weight: 300; font-size: 1.7rem; margin-top: 80px;  }

    .footer { padding-bottom: 60px; }

    .links { text-align: left; }

    .h2-margin { margin-top: 70px; }

    .pagination-subscribe { margin-top: 40px; }

    .subscription-before-margin { margin-top: 15px; }

    h1 { font-size: 1.7rem; }

    h2 { font-size: 1.7rem; }

    .main-nav { display: none; }

    .mobile-nav { display: inline-block; }
    .container-c { width: 90%; margin: auto; }

    .post-image {
        max-width: 100%;
        height: auto;
        margin-right: 25px;
        padding-top: 13px;
        margin-bottom: 10px;    }

    .post-first-letter {
        display: inline-block;
        width: 1rem;
        font-size: 280%;
        line-height: 80%;
        margin-left: -4px;
        margin-top: 7px;
        margin-right: 1.5rem;    }

    .post-date { font-size: 18px; font-weight: 500;    }

    .mid-bar {
        border-left: none;
        border-top: 1px solid black;
        margin-top: 15px;
        margin-left: 16px;    }

    .category-article { font-size: 18px; }

    .post-title {
        font-size: 1.7rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;    }

    .article-name { margin-left: 16px; margin-top: 10px;    }

    .article-body {
        font-size: 1rem;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: -20px;    }

    .discuss { max-width: 90%; height: auto;
        //margin: 20px auto;
    }

    .main-nav { display: none; }

    .check-nav { display: inline-block; }

    footer { padding-bottom: 60px; }

    header { width: 90%; }

    .links { text-align: left; }

    .categories-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 3rem;    }

    .bullet-point { margin-left: 0; }

    .article-title { font-size: 1rem; }

    .technology-class{ font-size: 1.2rem; margin-top: 2.5rem;    }

    .article-background-1 { width: 100%; height: auto}

    .check-nav { display: inline-block; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .latest { margin-top: 60px; padding-top: 20px; padding-bottom: 20px }
    .article-background-1 { width: 100%; height: auto}

    .background { width: 100%; height: auto }

    .content-box { margin-left: 25px; margin-bottom: 30px; }

    .articles { -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; grid-row-gap: 4em;  }

    input[type=submit] { width: 30%; }

    .subscriber-container { margin-top: 30px; }

    .enter-email { width: 70%; margin: auto; }

    .links { text-align: left; }

    .footer { padding-bottom: 60px; }

    header { width: 90%; }

    footer {  padding-bottom: 60px; }

    .container-c { width: 70%; margin: auto;    }

    .post-image { max-width: 100%; height: auto;  margin-bottom: 10px; }

    .article-name { font-size: 1.5rem; padding-left: 15px; }

    .article-body { font-size: 1rem; }

    .mid-bar {
        border-top: 1px solid #191919;
        border-left: none;
        width: 100%;
        margin-left: 0;
        height: 15px;    }

    .form-div label {
        left: 24%;
    }

    .main-nav li { list-style-type: disc; display: block; text-align: right;}

    .main-nav li:not(:last-child) { padding-bottom: 10px; padding-right: 0;  } }

@media only screen and (width: 768px) {
    .subscriber-container { margin-top: 0; }

    input[type=submit] { width: 100%; }

    .enter-email { width: 100%; margin: auto; }

    .content-box { margin-left: 25px; margin-right: 5px; }

    .links { text-align: right; }

    .form-div label {
        left: 12%;
    }

    .mid-bar {
        border-top: 0;
        border-left: 1px solid #191919;
        height: 74%;
        float: left;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-top: 12px;
        padding-right: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .background { height: auto; width: 100% }

    .article-background-1 { width: 100%; height: auto;}

    .content-box { margin-left: 0; margin-right: 20px;  }

    .latest { height: 600px; }

    .articles { -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; grid-row-gap: 4em;  }

    header { width: 90%; }

    .container-c {min-width: 688px; }

    .article-name { padding-left: 30px; font-size: 1.7rem;}

    .post-date { padding-top: 20px;  }

    .post-image { max-width: 50%; height: auto;    }

    .mid-bar { height: 82%; margin-left: 25px }

    .article-body { font-size: 1.2rem; line-height: 1.9rem; }
}

@media only screen and (width: 992px) {
    .latest { height: 100%; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .background { height: auto ; width: 100%; }
    .article-background-1 { width: 100%; height: auto}
    .latest { height: 550px }

    header { width: 90%; }

    .mid-bar { margin-left: 20px; }
    .container-c { min-width: 717px; } }

@media only screen and (width: 1200px) {
    .background { height: 453px; } }

//@media (min-width: 1201px) and (max-width: 1367px){
//    .background {position: absolute !important; top: 13% !important;}
//}

@media (min-width: 1200px) and (max-width: 1499px) {
    .latest { height: 493px }
    .mid-bar { margin-left: 20px; }
    .article-background-1 { width: 100%; height: auto}
    .background {  width: 100%; height: auto;    }
    .container-c { min-width: 717px; } }

@media (min-width: 1499px) and (max-width: 1639px) {
    .mid-bar { margin-left: 20px; }
    .container-c { min-width: 680px } }
